.gitattributes

# build & test artifacts
node_modules
dist/tangram-cartocss.test.js
dist/tangram-cartocss.test-worker.js

# a make target for npm install
.npm
.vscode
npm-debug.log
yarn.lock

# OS misc
.DS_Store

# storing some screenshots here
screenshots
