<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cartoyaml Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="demos/css/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="gui" class="menu">
      <input type="text" name="url" v-model="uri"/>
      <button type="button" class='send-url' v-on:click="loadVizJSON(uri)" value="GO">GO</button>
      <div class="dir">
        <h4 class="title">layers</h4>
        <ul class="layers">
          <li v-for="layer in layers" v-on:click="layer.opened = !layer.opened" class="element" v-bind:class="{ opened: layer.opened }">
            {{ layer.name }} <span v-bind:id="'save-' + layer.id" class="save" v-on:click.stop="send(layer)">save</span>
            <div class="options">
              <textarea v-on:click.stop name="cartocss" v-bind:id="'cartocss-' + layer.id" class="cartocss" v-model="layer.cartocss" ></textarea>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="/node_modules/tangram/dist/tangram.min.js" charset="utf-8"></script>
    <script src="tangram-cartocss.bundle.js" charset="utf-8"></script>
    <!--<script src="demos/main.js" charset="utf-8"></script>-->
  </body>
</html>
