body, html {
    font-family: 'Inconsolata', monospace;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: white;
}

#map {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
}

.label {
    width: 200px;
    margin-left: -100px;
    position: absolute;
    z-index: 100001;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.labelInner {
    padding: 2px;
    background: white;
    opacity: 0.75;
}

.menu {
  width: 450px;
  position: absolute;
  z-index: 10000;
  background-color: rgba(40, 40, 30, 0.8);
  top: 10px;
  right: 10px;
  border-top: solid #3d3;
}

.dir {
  padding: 10px;
}

.dir > h4.title {
  margin: 0;
}

.dir > ul.layers {
  color: #3e3;
  padding: 0;
}

.dir > ul.layers > li {
  margin-left: 10px;
}

.dir > ul.layers > li:hover {
  color: #3e3;
  background-color: rgba(0, 0, 0, 0.3);
}

li.element.opened {
  background-color: rgba(0, 0, 0, 0.3);
}

li.element > .cartocss {
  transition: height ease .7s;
  display: none;
  height: 0px;
}

li.element.opened > .cartocss {
  display: block;
  height: 400px;
}

input, button, textarea {
  margin: 10px auto;
  background-color: transparent;
  border: none;
  border-bottom: solid #3d3 1px;
  color: #ddd;
  font-size: 18px;
  width: 90%;
  display: inherit;
}

textarea {
  width: 90%;
  height: 400px;
  color: white;
  /*background-color: rgba(40, 43, 40, 0.8);*/
}

button[type=button] {
  background-color: #ffaa3d;
  color: black;
  border: none;
  margin-top: 20px;
}
